.body-container{
  font-family: Roboto, serif;
  z-index: 1;
  height: 100%
}

/*
-----------------------------------------
                 Navigation
-----------------------------------------
*/

.nav-main{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item{
  float: left;
}

.nav-link{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f7c848;
}

.nav-link:hover{
  transition: all 0.5s ease-out;
  background-color: #111;
  color: orange;
}

/*
-----------------------------------------
                 Navigation
-----------------------------------------
*/


/*
-----------------------------------------
                 Loader
-----------------------------------------
*/

.loader{
  height: 100%;
  width: 100%;
  margin:auto;
  display:block;
}

/*
-----------------------------------------
                 Loader
-----------------------------------------
*/

/*
-----------------------------------------
                 Index
-----------------------------------------
*/

.index-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 300px;
  border: 1px solid #666666;
  background-color: #555555;
  border-radius: 5px;
  padding: 5px;
}

.index-header{
  text-align: center;
  color: #ff9c00;
}

.index-list{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.index-item{
  flex: 1;
  border: 1px solid #444444;
  background-color: #333333;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: #ffe98c;
  font-size: 1.2rem;
}

.index-item:hover{
  color: orange;
  background-color: #111222;
  transition: all 0.5s ease-out;
}

.index-item:nth-child(1){
  margin-right: 5px;
}

.index-item:nth-child(2){
  margin-left: 5px;
}

/*
-----------------------------------------
                 Index
-----------------------------------------
*/

/*
-----------------------------------------
              Weather Units
-----------------------------------------
*/

.wth-block{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 30%;
  overflow-x: auto;
  background-color: #777777;
  border: 2px solid #666666;
  border-radius: 5px;
  padding: 10px;
}

.wth-unit{
  flex: 1;
  border: 1px solid #FFFFFF;
  background-color: #BBBBBB;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  position: relative;
  min-width: 6rem;
  cursor: pointer;
}

.wth-unit:hover{
  background-color: #FFFFFF;
  transition: all 0.5s ease-out;
}

.wth-unit:hover .sun, .wth-unit:hover .moon{
  color: black;
  transition: all 0.5s ease-out;
}

.wth-unit:hover .temperature{
  color: #b80000;
  transition: all 0.5s ease-out;
}

.wth-line{
  white-space: nowrap;
  position: relative;
}

.date-time{
  font-weight: bold;
  text-align: center;
}

.weather{
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.temperature{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
}

.sun{
  color: #ffb74d;
}

.moon{
  color: #90caf9;
}

.now{
  background-color: #DDDDDD;
}

.future-date i{
  color: #fb8c00!important;
}


/*
-----------------------------------------
              Weather Units
-----------------------------------------
*/

/*
-----------------------------------------
                Popover
-----------------------------------------
*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  left: 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/*
-----------------------------------------
                Popover
-----------------------------------------
*/

/*
-----------------------------------------
                City
-----------------------------------------
*/

.city-credentials{
  text-align: center;
}

/*
-----------------------------------------
                City
-----------------------------------------
*/

/*
-----------------------------------------
                Footer
-----------------------------------------
*/

footer {
  width: 100%;
  display: inline-block;
  height: 70px;
  background-color: #999;
  position: fixed;
  bottom: 0;
}

.copyright{
  width: 50%;
  float: left;
}

.copyright span{
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

footer .social{
  width: 50%;
  float: right;
}

.social a{
  float: right;
  line-height: 70px!important;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: all, 0.5s
}

.linked{
  background-color: #1E83AE;
  font-size: 2rem;
  width: 20%;
}

.github{
  background-color: #24292e;
  font-size: 2rem;
  width: 20%;
}

.social a:hover{
  background-color: #222;
  transition: all, 0.5s;
  font-size: 3rem;
}

.github:hover{
  background-color: #000000;
  transition: all, 0.5s;
}

/*
-----------------------------------------
                Footer
-----------------------------------------
*/

@media screen and (max-width: 768px) {
  .nav-link{
    font-size: 1rem;
  }

  .wth-block{
    flex-direction: column;
    width: 31%;
    max-height: 40%;
    overflow-y: auto;
  }

  .wth-unit{
    min-height: 10rem;
    margin: 5px 0;
    max-width: 12rem;
  }

  .tooltip-text{
    display: none;
  }

  .linked{
    font-size: 1.5rem;
  }

  .github{
    font-size: 1.5rem;
  }

  .social a:hover{
    font-size: 2rem;
  }
}