html, body{
  height: 100%;
  width: 100%;
  background: linear-gradient(160deg, #FC766B, #FF8D68);
  font-family: Roboto, serif;
}


/*
-----------------------------------------
                 Navigation
-----------------------------------------
*/

.nav-main{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item{
  float: left;
}

.nav-link{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f7c848;
}

.nav-link:hover{
  transition: all 0.5s ease-out;
  background-color: #111;
  color: orange;
}

/*
-----------------------------------------
                 Navigation
-----------------------------------------
*/


/*
-----------------------------------------
                 Loader
-----------------------------------------
*/

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  z-index: 10;

}

/*
-----------------------------------------
                 Loader
-----------------------------------------
*/

/*
-----------------------------------------
                 Index
-----------------------------------------
*/

.index-container,.main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
  background-color: #ffffff;

  width: 60%;
}

.index-container{
  height: 64%;
}

.index-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #4E6672;
  outline: none;
}

.index-row:nth-child(1){
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.index-row:nth-child(2){
  margin-bottom: 20px;
}

.index-row:nth-child(3){
  font-size: 1.2rem;
}

#city{
  flex:3;
  border: none;
  border-bottom: 2px solid #4E6672;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #4E6672;
  padding-left:7%;
}

#city::placeholder{
  color: #A9A9A9;
  /*font-family: Arial, serif;*/
}

#city-search{
  flex:1;
  color: #4E6672;
  background-color: unset;
  box-sizing: unset;
  border: none;
  font-size: 2rem;
  border-bottom: 2px solid #4E6672;
  cursor: pointer;
}

#city-search:focus, #city:focus{
  outline: none;
}

#city-search:hover{
  transition: all 0.5s ease-out;
  color: #749ca8;
}

#city-search:focus{
  transition: all 0.5s ease-out;
  color: #FC766B;
}

.geo-position{
  color: #4E6672;
  text-decoration: unset;
  border-bottom: 1px dashed #4E6672;
}

/*
-----------------------------------------
                 Index
-----------------------------------------
*/

/*
-----------------------------------------
              Weather Units
-----------------------------------------
*/

.main-container{
  padding: 40px 40px 0 40px;
  color: #526473;
  height: 60%;
}

/*Header*/

.main-header{
  display:flex;
  flex-direction: row;
  min-width: 60%;
  padding: 0 20px;
}

.main-header h1{
  margin: 0;
  flex: 9;
}

.main-header h1 span{
  margin-left: 20px;
  font-size: 2.5rem;
}


.back-route{
  text-decoration: none;
  color:  unset;
}

.wrapper-ios{
  float: right;
  margin: auto 0;
}

.weather-unit{
  height: 90%;
}

.current-data{
  font-weight: normal;
}

.time-header{
  font-size: 3rem;
  margin-bottom: 10px;
}

.weather-description{
  font-size:2rem;
  margin-top: 15px;
  margin-bottom: 0;
}

.weather-container{
  height: 70%;
  display: flex;
  flex-direction: column;
  color: #FF8D68;
}

.current-unit{
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px 0 30px 0;
}

.current-weather, .today-weather{
  flex: 1;
}

.current-weather{
  font-size: 7rem;
  position:relative;
}

.current-weather-handler{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
}

.c-weather-unit{
  flex: 1;
  position:relative;
}

.c-weather-unit-handler{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-weather-unit:nth-child(2){
  padding-left: 20px;
  font-size: 10rem;
}

.today-weather{
  display: flex;
  flex-direction: column;
  position:relative;
  padding: 35px 0;
}

.weather-item{
  flex:1;
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: row;
}

.weather-item-handler{
  flex:1;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.weather-item-handler span{
  flex:1;
}

.future-units{
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #566069;
  padding: 10px 0 0 0;
}

.future-item{
  flex:1;
  text-align: center;
  /*margin-right: 8rem;*/
}

.future-item-day{
  margin-bottom: 1rem;
}

.future-item-weather{
  font-size: 3rem;
}

.future-item-temperature{
  margin-top: 1rem;
}

/*
-----------------------------------------
              Weather Units
-----------------------------------------
*/


/*
-----------------------------------------
              Tumbler
-----------------------------------------
*/
.onoffswitch {
  position: relative;
  width: 112px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #5D686C;
  border-radius: 50px;
  height: 2.2rem;
  /*width: 5rem;*/
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 15px;
  color: white;
  /*font-family: Trebuchet, Arial, sans-serif;*/
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "°C";
  padding-left: 15px;
  padding-top: 4px;
  background-color: #FFFFFF;
  color: #5D686C;
}
.onoffswitch-inner:after {
  content: "°F";
  padding-right: 15px;
  padding-top: 4px;
  background-color: #FFFFFF;
  color: #5D686C;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 32px;
  height: 27px;
  margin: 4px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 71px;
  border: 1px solid #5D686C;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

/*
-----------------------------------------
              Tumbler
-----------------------------------------
*/


/*
-----------------------------------------
                City
-----------------------------------------
*/

.city-credentials{
  text-align: center;
}

/*
-----------------------------------------
                City
-----------------------------------------
*/


/*
-----------------------------------------
              Portability
-----------------------------------------
*/

@media screen and (max-width: 1400px) and (min-width: 1176px) {
  .time-header{
    font-size: 2.5rem;
    margin-top: 10px;
  }
  .weather-description {
    font-size: 1.7rem;
    margin-top: 10px;
  }

  .current-weather {
    font-size: 6rem;
  }

  .c-weather-unit:nth-child(2) {
    padding-left: 15px;
    font-size: 8rem;
  }

  .weather-item-handler{
    font-size:1.2rem;
  }

  .future-item-day{
    margin-bottom: .8rem;
  }

  .future-item-temperature{
    margin-top: .8rem;
  }
}

@media screen and (max-width: 1176px) and (min-width: 900px){

  .main-header h1 span {
    margin-left: 15px;
    font-size: 2.2rem;
  }

  .time-header{
    font-size: 2.2rem;
    margin-top: 8px;
  }

  .weather-description {
    font-size: 1.3rem;
    margin-top: 8px;
  }

  .current-weather {
    font-size: 4.5rem;
  }

  .c-weather-unit:nth-child(2) {
    padding-left: 10px;
    font-size: 6rem;
  }

  .weather-item-handler{
    font-size: 1rem;
  }

  .future-item-day{
    margin-bottom: .6rem;
    font-size: .8rem;
  }

  .future-item-weather {
    font-size: 2.3rem;
  }

  .future-item-temperature{
    font-size: .8rem;
    margin-top: .6rem;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px){

  .main-header h1 span {
    margin-left: 10px;
    font-size: 2rem;
  }

  .time-header{
    font-size: 1.8rem;
    margin-top: 8px;
  }

  .weather-description {
    font-size: 1rem;
    margin-top: 8px;
  }

  .current-weather {
    font-size: 3rem;
  }

  .c-weather-unit:nth-child(2) {
    padding-left: 10px;
    font-size: 4.5rem;
  }

  .weather-item-handler{
    font-size: .8rem;
  }

  .future-item-day{
    margin-bottom: .6rem;
    font-size: .8rem;
  }

  .future-item-weather {
    font-size: 2.3rem;
  }

  .future-item-temperature{
    font-size: .8rem;
    margin-top: .6rem;
  }

  #city{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 650px){

  .main-header h1 span {
    margin-left: 10px;
    font-size: 2rem;
  }

  .time-header{
    font-size: 1.8rem;
    margin-top: 8px;
  }

  .weather-description {
    font-size: 1rem;
    margin-top: 8px;
  }

  .current-weather {
    font-size: 3rem;
  }

  .c-weather-unit:nth-child(2) {
    padding-left: 10px;
    font-size: 4.5rem;
  }

  .weather-item-handler{
    font-size: .8rem;
  }

  .future-item-day{
    margin-bottom: .6rem;
    font-size: .8rem;
  }

  .future-item-weather {
    font-size: 2.3rem;
  }

  .future-item-temperature{
    font-size: .8rem;
    margin-top: .6rem;
  }

  .onoffswitch{
    width: 80px;
  }

  .onoffswitch-switch{
    right: 38px;
  }

  .main-container{
    padding: 20px;
    height: unset;
  }

  .current-unit{
    padding: 10px 0 15px 0;
  }
}

@media screen and (max-width: 650px){

  .main-header h1 span {
    margin-left: 10px;
    font-size: 1.8rem;
  }

  .time-header{
    font-size: 1.6rem;
    margin-top: 8px;
  }

  .weather-description {
    font-size: .8rem;
    margin-top: 8px;
  }

  .current-weather {
    font-size: 2rem;
  }

  .c-weather-unit:nth-child(2) {
    padding-left: 10px;
    font-size: 3rem;
  }

  .weather-item-handler{
    font-size: .7rem;
  }

  .future-item-day{
    margin-bottom: .5rem;
    font-size: .6rem;
  }

  .future-item-weather {
    font-size: 1.5rem;
  }

  .future-item-temperature{
    font-size: .6rem;
    margin-top: .5rem;
  }

  .onoffswitch{
    width: 60px;
  }

  .onoffswitch-switch{
    right: 23px;
  }

  .main-container{
    padding: 20px;
    height: unset;
  }

  .current-unit{
    padding: 10px 0 15px 0;
  }

  .onoffswitch-inner:after{
    padding-right: 5px;
    padding-top: 4px;
    font-size: .7rem;
  }

  .onoffswitch-inner:before{
    padding-left: 4px;
    padding-top: 4px;
    font-size: .7rem;
  }

  .onoffswitch-switch{
    width: 28px;
    height: 24px;
  }

  .onoffswitch-label{
    height: 2rem;
  }

  #city{
    font-size: 1.2rem;
    width: 5rem;
    padding-left: 23%
  }
}

/*
-----------------------------------------
              Portability
-----------------------------------------
*/